<!DOCTYPE html>
{% load blog_tags %}

<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="summerdawn blog">
    <meta name="author" content="liulinhai">
    <meta property="wb:webmaster" content="a75ae64e33d7a2d6" />
    {% load staticfiles %}

    <title>SummerDawn</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'blog/css/special.css' %}" type="text/css" >
    <!-- Theme CSS -->
   <link href="http://cdn.bootcss.com/startbootstrap-clean-blog/3.3.7+1/css/clean-blog.min.css" rel="stylesheet">
    <!-- comment Theme CSS -->
    <!-- link rel="stylesheet" href="{% static 'blog/css/comment.css' %}" -->
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/github.css' %}">

    <!-- Custom Fonts -->
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'blog:index' %}">SUMMER·DAWN</a>
                <a class="navbar-brand" href="{% url 'rss' %}" title="订阅此博客"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'blog:index' %}" title="访问首页"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
                    </li>
                    <li>
                        <a href="{% url 'admin:index' %}blog/post/" title="后台管理"><i class="fa fa-list" aria-hidden="true"></i>管理</a>
                    </li>
                    <li>
                        <a href="{% url 'admin:index' %}blog/post/add" title="撰写文章"><i class="fa fa-pencil" aria-hidden="true"></i>撰文</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:contact' %}" title="联系我们"><i class="fa fa-info" aria-hidden="true"></i> 联系</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->

               {% block header %}
               {% endblock header %}



    <!-- Main Content -->

                {% block main %}
               {% endblock main %}

                {% block blog_content %}
                {% endblock blog_content %}

    {% block other %}
    {% endblock other %}



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; SummerDawn·Since 2017
                        {% if user.is_authenticated %}
                         {% block loginnext %}

                         {% endblock loginnext %}
                        {% else %}
                        ·请<a href="{%url 'admin:login' %}?next={%url 'blog:index' %}"><i class="fa fa-sign-in fa-border " aria-hidden="true">登录</i></a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
   <script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'blog/js/sucaijiayuan.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- Contact Form JavaScript -->


    <!-- Theme JavaScript -->
    <script src="http://cdn.bootcss.com/startbootstrap-clean-blog/3.3.7+1/js/clean-blog.min.js"></script>

    <script src="//cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js"></script>
    <script src="//cdn.bootcss.com/highlightjs-line-numbers.js/1.1.0/highlightjs-line-numbers.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>hljs.initLineNumbersOnLoad();</script>
    <script src="{% static 'blog/js/script.js' %}"></script>

    <script>
    $(document).ready(function() {
    //高亮代码
    //$(".entry-content pre").addClass("prettyprint linenums ");
    //图片缩放
    $(".row img").addClass("img-responsive");
        });
    </script>
	<div style="display: none;" id="rocket-to-top">
	<div style="opacity:0;display: block;" class="level-2"></div>
	<div class="level-3"></div>
	</div>
</body>

</html>