{% extends 'blog/base.html' %}

{% load blog_tags %}
{% load comments %}
{% block main %}
	<article class="post post-1">
		<header class="entry-header">
			<h1 class="entry-title">{{ post.title }}</h1>
			<div class="entry-meta">
				<span class="post-category"><a href="{% url 'blog:category' post.category.pk|default:0 %}">{{ post.category.name }}</a></span>

				<span class="post-date"><a href="#"><time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>

				<span class="post-author"><a href="{% url 'blog:author' post.author %}">{{ post.author }}</a></span>
				<span >阅读({% get_view_num  post.id  %})</span>
				<br>
				<span>
				{% for tag in post.tags.all %}
				  <a title="访问该标签下所有文章" href="{% url 'blog:tag' tag.pk %}" class="label label-default">{{ tag.name }}</a>
				{% empty %}
				暂无标签！
				{% endfor %}
				</span>
			</div>
		</header>
		<div class="entry-content clearfix">
			{{ post.body|safe }}
		</div>

		<div class="entry-meta">
		<span>最近编辑·{{ post.modified_time }}</span>
		{% if user.is_authenticated %}

				<button class="btn btn-default"><a  href="{% url 'admin:index' %}blog/post/{{ post.id }}/change">编辑</a></button>

		{% endif %}
		</div>

	</article>


{% endblock main %}
{% block post_pre_next %}
	<div class= "post ">
	<p>
		{% if pre_post %}
		<a href="{% url 'blog:detail' pre_post.id  %}">上一篇：{{ pre_post.title }}</a>
		{% else %}
		上一篇：没有了
		{% endif %}
	</p>
	<p>
		{% if next_post %}
		<a href="{% url 'blog:detail' next_post.id  %}">下一篇：{{ next_post.title }}</a>
		{% else %}
		下一篇：没有了
		{% endif %}
	</p>
	</div>
{% endblock post_pre_next %}

{% block uyan %}
	<section class="comment-area ">





    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>评论列表</h4>
        </div>

        <div class="panel-body">
            {% get_comment_list for post as comments %}
            {% for comment in comments %}
                <div class="comment-area" name="F{{comment.id}}">
					<p class="comment_title"><span style="float:right">{{ forloop.counter }}#</span>{{ comment.submit_date|date:"Y-m-d H:i"}} @ {{ comment.user_name }}：</p>
                    <p class="comment_content">{{ comment.comment|safe }}</p>
					<hr>
                </div>

            {% empty %}
                暂无评论
            {% endfor %}
        </div>
    </div>



	</section>

{% endblock uyan %}

{% block other %}



    <div class="comment-area">
        {% if user.is_authenticated %}
    {% if user.is_active %}

        <h4>新的评论</h4>
        {% get_comment_form for post as blog_form %}
            <form class="form-horizontal" action="{% comment_form_target %}" method="post" id="comment_form">
        {% csrf_token %}

        {{ blog_form.object_pk }}
        {{ blog_form.content_type }}
        {{ blog_form.timestamp }}
        {{ blog_form.site }}
        {{ blog_form.submit_date }}
        {{ blog_form.security_hash }}


        <input type="hidden" name="next" value="{%url 'blog:detail' post.id%}"/>
        <input id="reply_to" type="hidden" name="reply_to" value="0" />
        <input id="root_id" type="hidden" name="root_id" value="0" />
        <input id="reply_name" type="hidden" name="reply_name" value="">



                <textarea class="input-xlarge comment_text" id="id_comment" name="comment" placeholder="为了防止垃圾评论，需要登录，才能评论哦~"></textarea>
				{% load static %}
				<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        		<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
				<script>
					var config = {
					    'image_previewText' : ' ',
						extraPlugins: 'codesnippet',
						codeSnippet_theme: 'github',
						'toolbarCanCollapse': true,
						//'toolbarLocation' : 'bottom',
						'toolbarStartupExpanded' : false ,
						'toolbar': 'Custom',
						'toolbar_Custom':[
						['Format', 'Bold', 'Italic', 'Underline', 'Strike', 'Blockquote'],
						['Link', 'Unlink', 'Anchor'],
						['Image', 'Table', 'HorizontalRule','CodeSnippet'],

						['Smiley', 'SpecialChar'], ['Undo', 'Redo','-','Source','Maximize'],
							]
							}
					CKEDITOR.replace( 'id_comment', config );
				</script>

                <!--如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论-->
                <input type="text" style="display:none;" id="id_honeypot" name="honeypot">




              <div class="form-actions comment_button" style="float:right;">
                <span id='tip_text'></span>
                <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提交"/>

              </div>

     </form>
                                {% else %}
                    您尚未激活，请先激活您的账户才能评论。(避免垃圾评论)
                {% endif %}
                {% else %}
                  <p style="text-align:center">您尚未登录，请先<a href="{%url 'admin:login' %}?next={{post.get_absolute_url}}">登录</a>才能评论。</p>
                {% endif %}
    </div>




{% endblock other %}

{% block jiathis %}
 <!-- JiaThis Button BEGIN -->

<div class="jiathis_style post ">
	<p>
	<span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_qzone">QQ空间</a>
	<a class="jiathis_button_tsina">新浪微博</a>
	<a class="jiathis_button_tqq">腾讯微博</a>
	<a class="jiathis_button_weixin">微信</a>
	<a href="http://www.jiathis.com/share?uid=2131638" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a></p>
</div>

<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2131638" charset="utf-8"></script>
<!-- JiaThis Button END -->

{% endblock jiathis %}

{% block loginnext %}
·已登录 by <a title="退出登录" href="{%url 'admin:logout' %}?next={{post.get_absolute_url}}">{{user.get_username}}</a>
{% endblock loginnext %}