{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block main %}
	<article class="post post-1">
		<header class="entry-header">
			<h1 class="entry-title">{{ post.title }}</h1>
			<div class="entry-meta">
				<span class="post-category"><a href="{% url 'blog:categoryn' post.category.name %}">{{ post.category.name }}</a></span>

				<span class="post-date"><a href="#"><time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>

				<span class="post-author"><a href="{% url 'blog:author' post.author %}">{{ post.author }}</a></span>
				<span class="post-author">阅读({% get_view_num  post.id  %})</span>
			</div>
		</header>
		<div class="entry-content clearfix">
			{{ post.body|safe }}
		</div>

		<div class="entry-meta">
		<span>最近编辑·{{ post.modified_time }}</span>
		{% if user.is_authenticated %}

				<button class="btn btn-default"><a  href="{% url 'admin:index' %}blog/post/{{ post.id }}/change">编辑</a></button>

		{% endif %}
		</div>

	</article>


{% endblock main %}
{% block post_pre_next %}
	<div class= "post ">
	<p>
		{% if pre_post %}
		<a href="{% url 'blog:detail' pre_post.id  %}">上一篇：{{ pre_post.title }}</a>
		{% else %}
		上一篇：没有了
		{% endif %}
	</p>
	<p>
		{% if next_post %}
		<a href="{% url 'blog:detail' next_post.id  %}">下一篇：{{ next_post.title }}</a>
		{% else %}
		下一篇：没有了
		{% endif %}
	</p>
	</div>
{% endblock post_pre_next %}

{% block uyan %}
	<section class="comment-area ">
	  <!-- 把友言评论系统代码放到想让评论框显示的地方 -->
	  <!-- UY BEGIN -->
	  <div id="uyan_frame"></div>
	  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2131638"></script>
	  <!-- UY END -->

	</section>

{% endblock uyan %}

{% block jiathis %}
 <!-- JiaThis Button BEGIN -->

<div class="jiathis_style post ">
	<p>
	<span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_qzone">QQ空间</a>
	<a class="jiathis_button_tsina">新浪微博</a>
	<a class="jiathis_button_tqq">腾讯微博</a>
	<a class="jiathis_button_weixin">微信</a>
	<a href="http://www.jiathis.com/share?uid=2131638" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a></p>
</div>

<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2131638" charset="utf-8"></script>
<!-- JiaThis Button END -->

{% endblock jiathis %}