{% extends 'blog/base2.html' %}
{% load blog_tags %}
{% load static %}

               {% block header %}

                <header class="intro-header" style="background-image:url({% static 'blog/img/home-bg.jpg' %})">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                <div class="site-heading">
                                    <h1 class="hidden-xs">SUMMER·DAWN</h1>
                                    <h2 class="visible-xs">SUMMER·DAWN</h2>
                                    <hr class="small">
                                    <p class="lead">如果需要，那就现在开始<br>
                                        如果开始，请从这里出发<br><br>
                                        ——记录自由而真实的人生</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
               {% endblock header %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						{% for post in post_list %}
                <div class="post-preview">
                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="post-title">
                           {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.excerpt|default:post.body|striptags|safe|truncatechars:100}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="{% url 'blog:author' post.author %}">{{ post.author }}</a> on {{ post.created_time }} <i class="fa fa-eye" aria-hidden="true"></i> {% get_view_num  post.id  %} read <br>Classified into <a href="{% url 'blog:category' post.category.pk|default:0 %} ">{{post.category.name}}</a>
                    <br>Tags Cloud:
                                {% for tag in post.tags.all %}
                                  <a  href="{% url 'blog:tag' tag.pk %}" class="label label-default">{{ tag.name }}</a>
                                {% empty %}
                                暂无标签！
                                {% endfor %}
                    </p>
                </div>
                <hr>


						{% empty %}
						<div class="post-preview">暂时还没有发布文章！</div>
						{% endfor %}

                                <!-- Pager -->
                <ul class="pager">
                     {% if post_list.has_previous %}
                    <li class="previous">
                        <a href="?page={{ post_list.previous_page_number }}" >  &larr; Newer Posts </a>
                    </li>
                    {% endif %}

                    {% if post_list.has_next %}
                    <li class="next">
                         <a href="?page={{ post_list.next_page_number }}" >Older Posts &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock main %}

                         {% block loginnext %}
                        ·已登录 by {{user.get_username}} ·<a title="退出登录" href="{%url 'admin:logout' %}?next={%url 'blog:index' %}"><i class="fa fa-sign-out fa-border " aria-hidden="true">登出</i></a>
                         {% endblock loginnext %}